<% if logged_in?%>

<form action="/tweets" method="POST">
  <p>Username: <input type="text" name="username"></p>
  Status: <input type="text" name="content"
  <button class="btn btn-primary" type="submit" value="submit">
</form>

  <% else %>
      <h1> You Must Be Logged in to Make Tweets </h1>
  <% end %>
