<h3><%= @tweet.content %> - <%= @tweet.user.username%></h3>

<p><a href= "/tweets/<%=@tweet.id%>/edit">Edit Tweet</a></p>

<form action="/tweets/<%=@tweet.id%>/delete" method="post">
<input type="hidden" name="_method" value="delete">
<input type="submit"  class="btn btn-primary btn-sm" value="Delete Tweet">
</form>
